<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Vue Todo App</title>
  </head>
  <body>
    <div id="app">
      <div class="wrapper">
        <img class="logo" src="logo.png" alt="" />
        <div class="input">
          <input v-model="message" type="text" />
          <button @click="addTodo">Add</button>
        </div>
        <p class="listname">Todo List</p>
        <ul class="todolist">
          <li v-for="item, index in list">
            {{ item }}
            <i @click="delTodo(index)" class="fas fa-minus-square"></i>
            <i @click="doneTodo(index)" class="fas fa-check-square"></i>
          </li>
          <p v-if="list.length == 0">Your list is empty!</p>
        </ul>
        <p class="listname">Tasks Done</p>
        <ul>
          <li v-for="item, index in done">{{ item }}</li>
        </ul>
        <p class="listname">Tasks Deleted</p>
        <ul>
          <li v-for="item, index in deleted">{{ item }}</li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
